@import
	url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css)
	;

input[type=checkbox] {
	display: none;
}

input[type=checkbox]+label:before {
	font-family: FontAwesome;
	display: inline-block;
}

input[type=checkbox]+label:before {
	content: "\f096";
	font-style: normal;
	letter-spacing: 10px;
}

input[type=checkbox]:checked+label:before {
	content: "\f046";
	font-style: normal;
	letter-spacing: 6px;
}

body {
	background-color: #fefefe;
	color: #a9a9a9;
	font-style: italic;
	font-family: Verdana, Geneva, sans-serif;
}

button {
  width: 10em;
}

.tile {
	display: inline-block;
	padding: 5px;
	margin: 3px;
	border: 2px solid whitesmoke;
	border-radius: 15px;
	background: #fafafa;
}

.oneline {
	white-space: nowrap;
	margin-bottom: 0px;
	margin-top: 0px;
}

.heavy {
	font-style: normal;
	font-weight: bold;
}

.HolyGrail,
.HolyGrail-body {
  display: flex;
  flex-direction: column;
}

.HolyGrail-nav {
  order: -1;
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
    flex: 1;
  }
  .HolyGrail-content {
    flex: 1;
  }
  .HolyGrail-nav, .HolyGrail-ads {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}
