database.name=demo
# this identifies the user performing the actions
tumblr.username=test
tumblr.blogname=test
tumblr.key=key
tumblr.secret=secret
# this identifies the consumer application (mytumble)
tumblr.oauthtoken=token
tumblr.oauthpass=pass
