<h2 class="heavy">Followers</h2>
<div>
  <div ng-repeat="follower in followers" class="tile">
    <table style="width: 150px">
      <tr>
        <td colspan="2"><p class="oneline heavy">{{follower.name}}</p></td>
      </tr>
      <tr>
        <td rowspan="2" width="48px"><img src="img/smiley.png" /></td>
        <td><div>
            <input type="checkbox" ng-model="follower.special" id="special-{{follower.name}}"/>
            <label for="special-{{follower.name}}">Special</label>
          </div></td>
      </tr>
      <tr>
        <td><div>
            <input type="checkbox" id="action2-{{follower.name}}"/>
            <label for="action2-{{follower.name}}">Action 2</label>
          </div></td>
      </tr>
      <tr>
        <td colspan="2"><p class="oneline">{{follower.lastcheck | date:'yyyy-MM-dd HH:mm'}}</p></td>
      </tr>
    </table>
  </div>
</div>