<h2>Followers</h2>
<table class="table table-condensed">
    <thead>
    <tr>
        <th>Username</th>
        <th>Is followed</th>
        <th>Last check</th>
        <th>Special</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="follower in followers.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
        <td>{{follower.name}}</td>
        <td>{{follower.is_followed}}</td>
        <td>{{follower.lastcheck}}</td>
        <td>{{follower.special}}</td>
    </tr>
    </tbody>
</table>
<ul uib-pagination total-items="totalItems" max-size="maxSize" boundary-links="true" force-ellipses="true" num-pages="numPages" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm"></ul>

