<form>
  <h2 class="heavy">Users list</h2>
  <button ng-click="loadUsers('followsme,notweird')">My followers</button>
  <button ng-click="loadUsers('special')">Specials</button>
  <button ng-click="loadUsers('weird')">Weirdos</button>
  <button ng-click="loadUsers('followsme,notweird,notifollow')">To follow back</button>
  <button ng-click="loadUsers('notspecial,notfollowsme,ifollow,notweird')">Should be following me</button>
  <button ng-click="loadUsers('lastlikers,notweird')">Last likers</button>
  <div>
    <div ng-repeat="auser in users" class="tile">
      <table style="width: 150px">
        <tr>
          <td colspan="2"><p class="oneline heavy">{{auser.name}} <img src="img/follows.png" ng-show="auser.followsme"/></p></td>
        </tr>
        <tr>
          <td rowspan="3" width="48px"><img src="img/smiley.png" /></td>
          <td><div>
              <input type="checkbox" ng-model="auser.special"
                id="special-{{auser.name}}" ng-change="updateUser(auser)"
              /> <label for="special-{{auser.name}}">Special</label>
            </div></td>
        </tr>
        <tr>
          <td><div>
              <input type="checkbox" ng-model="auser.weirdo"
                id="weirdo-{{auser.name}}" ng-change="updateUser(auser)"
              /> <label for="weirdo-{{auser.name}}">Weirdo</label>
            </div></td>
        </tr>
        <tr>
          <td><div>
              <input type="checkbox" ng-model="auser.ifollow"
                id="ifollow-{{auser.name}}" ng-change="updateUser(auser)"
              /> <label for="ifollow-{{auser.name}}">I follow</label>
            </div></td>
        </tr>
        <tr>
          <td colspan="2"><p class="oneline">{{auser.lastcheck
              | date:'yyyy-MM-dd HH:mm'}}</p></td>
        </tr>
      </table>
    </div>
  </div>
</form>